.out-wrapper {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  justify-items: center;
  justify-content: center;
  color: gray;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px;
  /*background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);*/
  /*background-color: #28C76F;*/
  border-radius: 10px;
}
.out-wrapper:active {
  box-shadow: #28C76Faa 0 0 5px;
  transform: translateY(2px);
}
.title {
  font-size: 1.5em;
}
