<div style="min-height: 100%;" *ngIf="!selectedRecord">
  <div style="text-align: center; padding: 10px;">
    <nz-range-picker [(ngModel)]="dateRange"></nz-range-picker>
    <button
      class="long-btn"
      nz-button
      [nzLoading]="loading"
      [nzType]="'primary'"
      (click)="onSearch()">
      <i class="anticon anticon-search"></i>
      查询
    </button>
    <button
      class="long-btn"
      nz-button
      (click)="onNewRecord()">
      <i class="anticon anticon-plus-circle-o"></i>
      新增
    </button>
  </div>

  <nz-divider></nz-divider>

  <div style="background-color: inherit;">
    <nz-input-group
      nzSuffixIcon="anticon anticon-tag-o"
      style="margin-bottom: 10px;"
    >
      <input
        type="text"
        nz-input
        placeholder="通过标题筛选"
        [(ngModel)]="filter"
      >
    </nz-input-group>
    <nz-timeline>
      <nz-timeline-item *ngFor="let item of recordsToShow">
        <p>{{item.time | date: 'yyyy/MM/dd hh'}}</p>
        <p>{{item.title}}</p>
        <a (click)="onSelectRecord(item)">详情</a>
      </nz-timeline-item>
    </nz-timeline>
  </div>
</div>

<div *ngIf="selectedRecord">
  <app-meeting-record
    [meetingRecord]="selectedRecord"
    (close)="onRecordClose()"
  ></app-meeting-record>
</div>
